{% extends "template.twig" %}

{% block content %}
  Message of the moments: <b> {{ message }} </b>
  <div>
    <canvas id="mapCanvas" width="944" height="537" style="border:1px solid #d3d3d3;" />
  </div>
  <div>
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Title</th>
        <th>Type</th>
      </tr>
    </thead>
    <tbody>


    {% for data in datas %}
      <tr class={{ data.state }}>
        <th scope="row"> {{ loop.index }} </th>
        <td> {{ data.title }} </td>
        <td> {{ data.type }} </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
</div>

<script>

  var mapCanvas;
  var datas = {{ datas | json_encode() }};
  console.log(datas)

  var image = new Image();
  image.src = "images/tilesets/map.png";

  var type_1 = new Image();
  type_1.src = "images/tilesets/type_1.png";

  var type_2 = new Image();
  type_2.src = "images/tilesets/type_2.png";

  var type_3 = new Image();
  type_3.src = "images/tilesets/type_3.png";

  window.onload = function() {
    var mapCanvas = document.getElementById("mapCanvas");
    var ctx = mapCanvas.getContext("2d");

    ctx.drawImage(image, 0, 0);
    {% for data in datas %}
      var type_image;
      var state = "{{ data.state }}"
      switch(state) {
        case "ORANGE":
          type_image = type_2
          break;
        case "RED":
          type_image = type_3
          break;
        default:
          type_image = type_1
      }

      ctx.drawImage(type_image, {{data.coords.x}}, {{data.coords.y}});
    {% endfor %}

    mapCanvas.addEventListener('click', function (e) {
      var posX = e.clientX - mapCanvas.offsetLeft + document.body.scrollLeft + document.documentElement.scrollLeft;
      var posY = e.clientY - mapCanvas.offsetTop + document.body.scrollTop + document.documentElement.scrollTop;

      var selectedInterest;
      var test = datas;
      for(var i = 0; i<datas.length; i++) {
        console.log(datas[i]._doc.title)
      }
      /*
      for (var interest in datas[0]._doc) {
        if((posX >= interest.coords.x || posX <= interest.coords.x) && (posY >= interest.coords.y || posY <= interest.coords.y)) {
          selectedInterest = interest;
        }

      }
      alert(selectedInterest.title);*/
      })
  }
</script>
{% endblock %}
